<br>
<p>Just need some quick property info? No problem! Fill out the form below and we’ll send you a Trio which will include a plat map, last deed of record, and a property profile including tax information</p>
<form method="post" class="home-value cta-forms" action="https://formspree.io/derek.lockett@stewart.com,cs@stewart.com" onsubmit="return setReturn()">
    <fieldset>
        <p id="thanks"></p>
        <!--1-->
        <label for="name">What is your name?<span class="asterisk">*</span>
        </label>
        <input type="text" name="name" required>
        <!--2-->
        <label for="email">What is your email address?<span class="asterisk">*</span>
        </label>
        <input type="email" name="_replyto" required>
        <!--3-->
        <label for="address">What is the property address?<span class="asterisk">*</span>
        </label>
        <input type="text" name="address">
        <!--4-->
        <label for="name">What is the property owner’s name?<span class="asterisk">*</span>
        </label>
        <input type="text" name="name" required>
        <!--5-->
        <input type="checkbox" name="homes">Check this box if you’d like to know which homes near this property are most likely to list next!<br><br>
        <p>Thanks!</p>
        <!--7-->
        <!-- submit! -->
        <input class="submit light-light" type="submit" value="Submit" name="submitSellerForm">
        <span class="asterisk">*</span>required
    </fieldset>
    <!-- Cloud cannon settings field -->
    <div class="hidden">
      <input type="hidden" name="_to" value="{{site.data.settings.client.email}}">
      <input type="hidden" name="_subject" value="Seller Request Message From Your Vyral Video Blog">
      <input type="text" name="_gotcha">
    </div>
</form>
<script>
function setReturn(){
  localStorage.setItem("thanks", "Your request was sent successfully!");
  document.getElementById("thanks").innerHTML =    localStorage.getItem("thanks");
  localStorage.clear();
}
</script>
